<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AirBnB Clone</title>
  	<link rel="stylesheet" href="{{ url_for('static', filename='styles/4-common.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-header.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-footer.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/6-filters.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/8-places.css') }}"/>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.png') }}" />
  </head>
  <body>
    <header></header>
    <div class="container">
      <section class="filters">
        <button>Search</button>
        <div class="locations">
          <h3>States</h3>
          <h4>&nbsp;</h4>
          <ul class="popover">
            <li>
                {% for state in states|sort(attribute="name") %}
                <h2>{{ state.name }}:</h2>
              <ul>
                  {% for city in state.cities|sort(attribute="name") %}
                  <li>{{ city.name }}</li>
                  {% endfor %}
              </ul>
              {% endfor %}
            </li>
          </ul>
        </div>
        <div class="amenities">
          <h3>Amenities</h3>
          <h4>&nbsp;</h4>
          <ul class="popover">
              {% for amenity in amenities|sort(attribute="name") %}
              <li>{{ amenity.name }}</li>
              {% endfor %}
          </ul>
        </div>
      </section>
      <section class="places">
        <h1>Places</h1>
		{% for place in places|sort(attribute="name") %}
        <article>
			<h2>{{ place.name }}</h2>
			<div class="price_by_night">${{ place.price_by_night }} </div>
          <div class="information">
			  <div class="max_guest">{{ place.max_guest }} Guests</div>
			  <div class="number_rooms">{{ place.number_rooms }} Bedroom</div>
			  <div class="number_bathrooms">{{ place.number_bathrooms }} Bathroom</div>
          </div>
		  <div class="user"><strong>Owner: </strong>{{ users['User.' + place.user_id] }}</div>
          <div class="description">
			  {{ place.description }}
          </div>
        </article>
		{% endfor %}
      </section>
    </div>
    <footer>
      <p>Best School</p>
    </footer>
  </body>
</html>
